body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #666;
	color: #333;
}
#container {
	padding: 20px;
	background-color: #fff;
}
#title {
	color: #fff;
	padding: 20px;
}
#title, #container {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
#logo {
	margin-bottom: 20px;
}
.message {
	margin-bottom: 20px;
	padding: 0 20px;
	font-weight: bold;
}
.error {
	color: #e00;
}
.success {
	color: #080;
}
#form-selection {
	margin: 20px;
}
button {
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	width: 300px;
	margin: 4px auto 0;
	display: block;
	padding: 6px 20px;
}
.form {
	width: 300px;
	margin: 0 auto 4px;
	display: none;
}
.form .title {
	font-size: 18px;
	text-shadow: -1px -1px 0 #000;
	padding: 8px;
}
.form .content {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	padding: 20px;
}
.form .item {
	margin-bottom: 10px;
}
.form .description {
	padding-bottom: 10px;
	font-size: 15px;
}
.form label {
	display: block;
	font-weight: bold;
	padding: 4px;
}
.form .permission input {
	display: inline-block;
	vertical-align: middle;
}
.form .permission label {
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 190px;
	padding-left: 0;
}
.form .item-description {
	font-size: 12px;
	margin-top: 5px;
}
.form input.text {
	padding: 4px;
	font-size: 15px;
	border: 1px solid #ccc;
}
.form input.text:focus {
	outline: none;
	box-shadow: 0 0 10px #ccc;
}
.form input.error {
	border: 1px solid #c33;
	box-shadow: 0 0 10px #ebadad;
}
.form .highlight {
	color: #c33;
	font-size: 14px;
}
.form .submit {
	background-color: #333;
	color: #fff;
	padding: 6px 12px;
	cursor: pointer;
	font-size: 15px;
	border: none;
	margin: 5px auto 2px;
}
.form .submit:active {
	margin: 7px auto 0px;
}
#lang {
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
}
#lang input {
	border: none;
	background: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
#wifi-logo {
	text-align: center;
	margin-top: 20px;
}